
* {
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  background-color: white;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url("./images/mainpicture.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 40px top -10px;
}

header {
  position:fixed;
  width: 1363px;
  max-width: 100vw;
  height: 0px;
  left: 0px;
  top: 60px;
  border: 1px solid #909597;
}
.MedLogo {
  position: absolute;
  width: 90px;
  height: 80px;
  left: 9px;
  bottom: -20px;
  padding-bottom: 1.29rem;

}
.SignIn {
  right: 0;
  margin-right: 10px;
  bottom: 1.4rem;
  position: absolute;
  border-radius: 25px;
  outline: none;
  padding: 8px 23px;
  background: #22A4A2;
  color: white;
}

.Person {
  margin-top: 6rem;
  height: 50px;
  width: 50px;
  margin-left: 5.8rem;
}
.Sign {
  font-weight: 700;
  color: #050505;
  margin-left: 2.8rem;
  padding-bottom: 0.3rem;

}
span {
  color: #22A4A2;
  font-weight: 800;
}
.Form {
  margin-left: 8rem;
  line-height: 2.9;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 0.9rem;
}

.Form p {
  color: #6A6A6A;
}

.input {
  color: #050505;
  width: 230.43px;
  height: 29px;
  border-radius: 10px;
  outline: none;
  border-color: #D1D1D6;
  padding-left: 2rem;

}
::placeholder {
  color: #c0c0c5;
}
a {
  text-decoration: none;
  color: #22A4A2;
  font-weight: 700;
}
.SignUp {
  width: 16rem;
  border-radius: 10px;
  outline: none;
  padding: 8px 23px;
  background: #22A4A2;
  color: white;
  margin-top: 1.2rem;

}
.Svg {
  width: 15px;
  height: 15px;
  padding: 1rem;
  margin-left: 1.7rem;
}
.Terms {
  margin-top: 0.9rem;
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
}
.Account {
  line-height: 0%;
  margin-bottom: 2rem;
}
footer {
  font-size: 0.6rem;
  color: #9b9999;
  margin-left: 8rem;
  padding-bottom: 0;
}