{
    margin: 0;
    padding: 0;
  }
  body{
    box-sizing: border-box;
    background-color: white;
    max-width: 100vw;
    max-height: 100vh;
    
  
  }
  header {
    position: relative;
    width: 1363px;
    max-width: 100vw;
    height: 0px;
    left: 0px;
    top: 60px;
    border: 1px solid #909597;
  }
  .medlogo {
    width: 90px;
    height: 80px;
    left: 9px;
    bottom: -20px;
    padding-bottom: 1.3rem;
  
  }
  .signin {
    right: 0;
    margin-right: 10px;
    bottom: 1.4rem;
    position: absolute;
    border-radius: 25px;
    outline: none;
    padding: 8px 23px;
    background: #22A4A2;
    color: white;
  }